{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="google-site-verification" content="QxJuyUu9y5AQlwA2mTpsvKJ6XGJetA2vCZR8huh-Jcg" />
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />

  <!-- <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap" rel="stylesheet" /> -->
  <link href="{% static '/css/fonts.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{% static '/css/styles.css' %}">
  <title>TransporteEco - COLETA DE ENTULHO A PARTIR DE 100,00 SP</title>
  <meta name="description"
    content=">Transporte Eco - COLETA DE ENTULHO A PARTIR DE R$ 100,00 EM SÃO PAULO - ligue 11949675140" />
</head>

<body>
  <header>
    <img class="bg-header" src="{% static '/images/bg-header-desktop.png' %}"
      alt="Imagem de fundo com gráfico representando transporte de entulho" />

    <img src="{% static '/images/logo.png' %}" alt="Logo da empresa Transporte Eco" class="logo" />
  </header>
  <main>
    <section class="contact">
      <h1>COLETA DE ENTULHO EM SÃO PAULO</h1>
      <h2>A PARTIR DE R$ 100,00</h2>
      <p>Realizamos coleta e transporte de entulho ensacado e outros materiais de forma correta e sustentavel. Realize
        um orçamento pelo whatsapp.</p>
       <div class="buttons">
        <a class="buttons ios pulsar" href="https://wa.me//5511949675140" target="_blank">Orçamento</a>
        <a class="buttons ios pulsar" href="/" target="_blank">FAQ</a>
       </div>
      </div>
      <div class="container">
        <h2>Materiais que retiramos</h2>
        <div class="servicos">
          <div class="coluna">
            <ul>
              <li>Remoção de Entulhos</li>
              <li>COLETA de Madeiras</li>
              <li>COLETA de Móveis</li>
              <li>COLETA de Papelão</li>
              <li>COLETA de Metais</li>
              <li>COLETA de Gesso</li>
              <li>COLETA de Eletrônicos ou Eletrodomésticos</li>
            </ul>
          </div>

          <div class="coluna">
            <ul>
              <li>COLETA de Entulhos em Geral</li>
              <li>Descarte de Móveis Velhos</li>
              <li>Descarte de Eletrônicos</li>
              <li>Descarte de Recicláveis</li>
              <li>Descarte de Entulhos</li>
              <li>Descarte de Eletrodomésticos</li>
              <li>Descarte de Podas de Árvores</li>
            </ul>
          </div>
        </div>
      </div>
      


    </section>

  </main>

  <a class="btn-whatsapp" href="https://wa.me//5511949675140" target="_blank" aria-label="Fale conosco via WhatsApp">
    <i class="fa fa-whatsapp" aria-hidden="true"></i>
  </a>
</body>

</html>
<script>
</script>