{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="google-site-verification" content="fEF1sBX35yMAYgvCKhy3zOOE9iQL0L581kUSbV7wfBI" />
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />

  <!-- <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap" rel="stylesheet" /> -->
  <link href="{% static '/css/fonts.css' %}" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}"> 

  <link rel="stylesheet" href="{% static '/css/styles.css' %}">
  <title>Transporte Eco - RETIRADA DE ENTULHOS A PARTIR DE R$ 130,00 EM SÃO PAULO</title>
</head>

<body>
  <header>
    <img class="bg-header" src="{% static '/images/bg-header-desktop.png' %}" alt="Imagem de fundo com gráfico representando transporte de entulho" />

    <img src="{% static '/images/logo.png' %}" alt="Logo da empresa Transporte Eco" class="logo" />
  </header>

  <main>
    <section class="contact">
      <h1>Transporte Eco</h1>
      <p>Realizamos coleta e transporte de entulho ensacado e outros materiais de forma correta e sustentável. Realize
        um orçamento pelo WhatsApp.</p>

      <a class="buttons ios pulsar" href="https://wa.me//5511949675140" target="_blank" aria-label="Clique aqui para solicitar um orçamento via WhatsApp">Orçamento</a>
      <section class="container">
        <h1>RETIRADA DE ENTULHOS A PARTIR DE R$ 130,00 EM SÃO PAULO</h1>
  
        <div class="servicos">
          <div class="coluna">
            <ul>
              <li>Remoção de Entulhos</li>
              <li>Retirada de Madeiras</li>
              <li>Retirada de Móveis</li>
              <li>Retirada de Papelão</li>
              <li>Retirada de Metais</li>
              <li>Retirada de Gesso</li>
              <li>Retirada de Eletrônicos ou Eletrodomésticos</li>
            </ul>
          </div>
  
          <div class="coluna">
            <ul>
              <li>Retirada de Entulhos em Geral</li>
              <li>Descarte de Móveis Velhos</li>
              <li>Descarte de Eletrônicos</li>
              <li>Descarte de Recicláveis</li>
              <li>Descarte de Entulhos</li>
              <li>Descarte de Eletrodomésticos</li>
              <li>Descarte de Podas de Árvores</li>
            </ul>
          </div>
        </div>
      </section>
  
      <section class="faq" role="region" aria-labelledby="faq-title">
        <h2 id="faq-title">Perguntas Frequentes</h2>
        
        <div class="faq-item">
          <h3 class="faq-question" id="faq-1">Existe um valor mínimo para a coleta de entulhos?</h3>
          <p class="faq-answer" aria-labelledby="faq-1">Sim, a partir de R$ 130,00 (Cento e trinta Reais) para coleta de até dez sacos (considerando o entulho ensacado e de fácil retirada).</p>
        </div>
  
        <div class="faq-item">
          <h3 class="faq-question" id="faq-2">E se o meu entulho ultrapassar o mínimo de sacos?</h3>
          <p class="faq-answer" aria-labelledby="faq-2">Ligue para nós, teremos um grande prazer em atendê-lo. Vamos compreender a sua necessidade e formular uma proposta incrível. Estamos certos de que você vai se surpreender!</p>
        </div>
  
        <div class="faq-item">
          <h3 class="faq-question" id="faq-3">Estou em outro município, o preço muda?</h3>
          <p class="faq-answer" aria-labelledby="faq-3">Sim, R$ 130,00 (cento e trinta reais) é um mínimo considerando uma certa distância da nossa base na zona sul. Por isso, é indispensável entrar em contato conosco para fazer um orçamento.</p>
        </div>
  
        <div class="faq-item">
          <h3 class="faq-question" id="faq-4">E quanto aos sacos de gesso?</h3>
          <p class="faq-answer" aria-labelledby="faq-4">O saco de gesso, embora seja mais leve, possui uma exigência especial de descarte. Por esta razão, é necessário darmos atenção especial. Fale com nossa equipe de atendimento e passe todos os detalhes.</p>
        </div>
  
      </section>
  
      <section class="entulho-vs-cacamba" role="region" aria-labelledby="entulho-vs-cacamba-title">
        <h2 id="entulho-vs-cacamba-title">Coleta de Entulho ou Aluguel de Caçamba?</h2>
        <div class="entulho-item">
          <div class="entulho-question">Entenda as Diferenças:</div>
          <div class="entulho-answer">
            <p>Prezado usuário, ao optar pelo aluguel de caçamba, você pagará um valor “x” pela caçamba e será de sua responsabilidade levar o entulho até ela. Com o serviço de coleta, você terá uma solução completa, e o mais importante: após contratar o serviço, você não precisará mais se preocupar com nada!</p>
          </div>
        </div>
      </section>
  
      <section class="remocao-entulho" role="region" aria-labelledby="remocao-entulho-title">
        <h2 id="remocao-entulho-title">Remoção de Entulho – Como Funciona?</h2>
        <div class="remocao-item">
          <div class="remocao-question">Entenda a Diferença:</div>
          <div class="remocao-answer">
            <p>A <strong>Transporte Eco</strong> oferece uma <strong>remoção inteligente de entulho</strong>, diferente das tradicionais empresas de aluguel de caçamba, que apenas fornecem um recipiente para que você mesmo faça o descarte. Nós vamos até o local e retiramos o entulho de forma prática e eficiente.</p>
          </div>
        </div>
      </section>
    <div id="navbar">
      <ul>
        <li><a href="https://transporteeco.com.br/">Home</a></li>
        <li><a href="https://transporteeco.com.br/retirada-entulho-sao-paulo">Retirada de Entulho - São Paulo</a></li>
        <li><a href="https://transporteeco.com.br/transporte-entulho-sao-paulo">Transporte de Entulho - São Paulo</a></li>
        <li><a href="https://transporteeco.com.br/coleta-entulho-sao-paulo">Coleta de Entulho - São Paulo</a></li>
        <li><a href="https://transporteeco.com.br/coleta-entulho-sp">Coleta de Entulho - SP</a></li>
        <li><a href="https://transporteeco.com.br/transporte-entulho-sp">Transporte de Entulho - SP</a></li>
        <li><a href="https://transporteeco.com.br/retirada-entulho-sp">Retirada de Entulho - SP</a></li>
        <li><a href="https://transporteeco.com.br/retira-entulho-sp">Retira de Entulho - SP</a></li>
        <li><a href="https://transporteeco.com.br/retira-entulho-sao-paulo">Retira de Entulho - São Paulo</a></li>
      </ul>
    </div>
    </section>
  </main>

  <a class="btn-whatsapp" href="https://wa.me//5511949675140" target="_blank" aria-label="Fale conosco via WhatsApp">
    <i class="fa fa-whatsapp" aria-hidden="true"></i>
  </a>


</body>


</html>

<script>

</script>