{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Transporte Eco</title>
  <link rel="shortcut icon" href="media/nike.png" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{% static '/css/master.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
  <meta name="keywords"
    content="{{type}} de entulho ensacado são paulo, {{type}} de entulho ensacado sp, {{type}} de entulho ensacado, entulho, {{type}} entulho ensacado São Paulo, {{type}} de entulho ensacado Interlagos, {{type}} de entulho ensacado, {{type}} de entulho ensacado, {{type}} de entulho ensacado SP">
  <title>{{type|upper}} DE ENTULHO ENSACADO {{regiao|upper}}</title>
  <meta name="description"
    content="{{type}} de entulho ensacado em São Paulo, empresa especializada em {{type}} de entulho ensacado, {{type}} de entulho na cidade de São Paulo, coleta de entulho ensacado, remocação de entulho ensacado">
  <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16921840450"></script>
</head>

<body>
  <header id="header">
    <section id="cover" class="container">
      <div class="row g-2 justify-content-around">
        <div class="col-md-6 d-flex justify-content-center align-items-center order-lg-2">
          <div class="p-3">
            <img src="{% static '/images/logo.png' %}" alt="Logo da empresa Transporte Eco" class="logo"
              class="mx-auto d-block img-fluid" style="width: 60vh;" />
          </div>
        </div>

        <div class="col-md-6 d-flex justify-content-center align-items-center order-lg-2">
          <div class="p-3">
            <h1 class="custom-highlight">{{type}} de entulho ensacado</h1>
            <h2>Atendemos em São Paulo - Capital</h2>
            <p>
              Realizamos a {{type}} de entulho ensacado e outros materiais de forma correta e sustentavel.
              Entre em contato:
            </p>
            <a href="tel:+5511983347164" class="btn btn-success rounded-3"><strong>
                Ligue: (11) 98334-7164
              </strong></a>
            <a href="https://wa.me/5511983347164" class="btn btn-success rounded-3"> <i
                class="fa-brands fa-whatsapp"></i> <strong>
                Whatsapp
              </strong> </a>
          </div>
        </div>
      </div>
    </section>
  </header>
  <main class="main">

    
    <section id="services" class="mt-5">
      <h2 class="title-green" data-aos="fade-up" data-aos-duration="500">Informações sobre serviços</h2>
      <div class="row g-2 justify-content-around custom-class-service">
        <div class="col-md-6 d-flex justify-content-center align-items-center order-1" data-aos="fade-left"
          data-aos-duration="1200">
          <div class="col">
            <div class="card p-3 mb-3 custom-services-card-v2" style="max-width: 540px" data-aos="zoom-in"
              data-aos-duration="500">
              <div class="row g-0">
                <div class="col-md-12 card-size-min">
                  <div class="card-body custom-text">
                    <h5 class="card-title">Qual é o valor mínimo para coleta de entulho encasado?</h5>
                    <p class="card-text"><strong>A coleta mínima é de R$ 100,00.</strong></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card p-3 mb-3 custom-services-card-v2" style="max-width: 540px" data-aos="zoom-in"
              data-aos-duration="500" data-aos-delay="200">
              <div class="row g-0">
                <div class="col-md-12 card-size-min">
                  <div class="card-body custom-text">
                    <h5 class="card-title">E se meu entulho ensacado for maior que o mínimo?</h5>
                    <p class="card-text"><strong>Entre em contato e nós vamos ajustar o preço.</strong></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card p-3 mb-3 custom-services-card-v2" style="max-width: 540px" data-aos="zoom-in"
              data-aos-duration="500" data-aos-delay="400">
              <div class="row g-0">
                <div class="col-md-12 card-size-min">
                  <div class="card-body custom-text">
                    <h5 class="card-title">O preço muda se eu estiver em outro município?</h5>
                    <p class="card-text"><strong>O valor pode variar dependendo da distância da nossa base.</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 d-flex justify-content-center align-items-center order-1" data-aos="fade-right"
          data-aos-duration="1200">
          <div class="col">
            <div class="card p-3 mb-3 custom-services-card-v2" style="max-width: 540px" data-aos="zoom-in"
              data-aos-duration="500">
              <div class="row g-0">
                <!-- <div class="col-md-4 gy-3">
                  <img src="{% static '/images/service3.png' %}" alt="services"
                    class="mx-auto d-block custom-img-width" />
                </div> -->
                <div class="col-md-12 card-size-min">
                  <div class="card-body custom-text">
                    <h5 class="card-title">Fazem Retirada de Moveis?</h5>
                    <p class="card-text"><strong>Sim, entre em contato para um orçamento.</strong></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card p-3 mb-3 custom-services-card-v2" style="max-width: 540px" data-aos="zoom-in"
              data-aos-duration="500" data-aos-delay="200">
              <div class="row g-0">
                <!-- <div class="col-md-4 gy-3">
                  <img src="{% static '/images/service3.png' %}" alt="" class="mx-auto d-block custom-img-width" />
                </div> -->
                <div class="col-md-12">
                  <div class="card-body custom-text card-size-min">
                    <h5 class="card-title">Fazem retirada de lixo Eletrônico?</h5>
                    <p class="card-text"><strong>Sim, entre em contato para um orçamento.</strong></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card p-3 mb-3 custom-services-card-v2" style="max-width: 540px" data-aos="zoom-in"
              data-aos-duration="500" data-aos-delay="400">
              <div class="row g-0 card-size-min">
                <!-- <div class="col-md-4 gy-3">
                  <img src="{% static '/images/service3.png' %}" alt="" class="mx-auto d-block custom-img-width" />
                </div> -->
                <div class="col-md-12">
                  <div class="card-body custom-text card-size-min">
                    <h5 class="card-title">Qual o peso máximo dos sacos?</h5>
                    <p class="card-text"><strong>Cada saco pode pesar até 30 kg.</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="stats">
      <h2 class=" mb-4 title-green mt-3">Informações da Empresa</h2>
      <div class="row g-2 justify-content-around custom-class-service">
        <div class="col" data-aos="fade-up" data-aos-duration="500">
          <div class="card shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title">Pessoas Atendidas</h5>
              <p class="card-text display-4">+100</p>
              <p class="card-text">Desde o inicio de 2025 atendemos 100 clientes com excelência.</p>
            </div>
          </div>
        </div>

        <div class="col" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
          <div class="card shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title">Sacos removidos</h5>
              <p class="card-text display-4">+1000</p>
              <p class="card-text">Mais de 1000 sacos de entulho descartados de forma correta.</p>
            </div>
          </div>
        </div>

        <div class="col" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
          <div class="card shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title">Satisfação do Cliente</h5>
              <p class="card-text display-4">98%</p>
              <p class="card-text">Nossa Taxa de aprovação reflete o empenho em oferecer um serviço de qualidade.</p>
            </div>
          </div>
        </div>
      </div>

    </section>
    <section id="importance" class="mt-5">
      <h2 class="title-green" data-aos="fade-up" data-aos-duration="500">A Importância da Retirada de Entulho Ensacado</h2>
      <div class="row g-3">
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500">
          <div class="card p-3 mb-3 custom-services-card">
            <div class="card-body">
              <h5 class="card-title">Evitar Acúmulo de Resíduos</h5>
              <p class="card-text">
                A <strong>retirada de entulho ensacado</strong> ajuda a evitar o acúmulo de resíduos em áreas públicas, garantindo
                um ambiente mais limpo e seguro para todos.
              </p>
            </div>
          </div>
        </div>
    
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
          <div class="card p-3 mb-3 custom-services-card">
            <div class="card-body">
              <h5 class="card-title">Prevenção de Problemas Ambientais</h5>
              <p class="card-text">
                A <strong>retirada de entulho ensacado</strong> de locais inadequados previne o entupimento de drenagens e
                a poluição dos corpos d'água, ajudando a preservar a fauna e flora local.
              </p>
            </div>
          </div>
        </div>
    
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
          <div class="card p-3 mb-3 custom-services-card">
            <div class="card-body">
              <h5 class="card-title">Redução da Poluição</h5>
              <p class="card-text">
                Com a <strong>retirada de entulho ensacado</strong>, evitamos que o lixo se disperse no ambiente, ajudando a
                manter a cidade limpa e saudável.
              </p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row g-3">
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
          <div class="card p-3 mb-3 custom-services-card">
            <div class="card-body">
              <h5 class="card-title">Sustentabilidade e Reciclagem</h5>
              <p class="card-text">
                A <strong>retirada de entulho ensacado</strong> permite que materiais recicláveis sejam reaproveitados, o que
                reduz o impacto ambiental e contribui para a sustentabilidade.
              </p>
            </div>
          </div>
        </div>
    
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="800">
          <div class="card p-3 mb-3 custom-services-card">
            <div class="card-body">
              <h5 class="card-title">Conservação do Meio Ambiente</h5>
              <p class="card-text">
                A <strong>retirada de entulho ensacado</strong> contribui diretamente para a preservação do meio ambiente,
                evitando o descarte inadequado que pode prejudicar o solo e os recursos hídricos.
              </p>
            </div>
          </div>
        </div>
    
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="1000">
          <div class="card p-3 mb-3 custom-services-card">
            <div class="card-body">
              <h5 class="card-title">Saúde Pública</h5>
              <p class="card-text">
                A <strong>retirada de entulho ensacado</strong> evita a proliferação de pragas e doenças, garantindo um ambiente
                mais saudável para os cidadãos.
              </p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row g-3">
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="1200">
          <div class="card p-3 mb-3 custom-services-card">
            <div class="card-body">
              <h5 class="card-title">Cumprimento das Normas Ambientais</h5>
              <p class="card-text">
                A <strong>retirada de entulho ensacado</strong> é fundamental para o cumprimento das leis ambientais e evita
                multas relacionadas ao descarte incorreto de resíduos.
              </p>
            </div>
          </div>
        </div>
    
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="1400">
          <div class="card p-3 mb-3 custom-services-card">
            <div class="card-body">
              <h5 class="card-title">Melhora a Qualidade de Vida</h5>
              <p class="card-text">
                Com a <strong>retirada de entulho ensacado</strong>, podemos viver em uma cidade mais limpa e agradável,
                melhorando a qualidade de vida para todos os cidadãos.
              </p>
            </div>
          </div>
        </div>
    
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="1600">
          <div class="card p-3 mb-3 custom-services-card">
            <div class="card-body">
              <h5 class="card-title">Economia de Espaço</h5>
              <p class="card-text">
                A <strong>retirada de entulho ensacado</strong> contribui para a economia de espaço urbano, liberando áreas que
                podem ser utilizadas de forma mais produtiva e sustentável.
              </p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row g-3">
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="1800">
          <div class="card p-3 mb-3 custom-services-card">
            <div class="card-body">
              <h5 class="card-title">Apoio ao Desenvolvimento Urbano</h5>
              <p class="card-text">
                A <strong>retirada de entulho ensacado</strong> é um passo importante para o desenvolvimento ordenado da cidade,
                garantindo que o ambiente urbano seja bem mantido e sem riscos.
              </p>
            </div>
          </div>
        </div>
    
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="2000">
          <div class="card p-3 mb-3 custom-services-card">
            <div class="card-body">
              <h5 class="card-title">Contribuição para a Economia Circular</h5>
              <p class="card-text">
                A <strong>retirada de entulho ensacado</strong> apoia a economia circular, promovendo a reutilização e
                reciclagem de materiais, o que fortalece práticas sustentáveis.
              </p>
            </div>
          </div>
        </div>
    
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="2200">
          <div class="card p-3 mb-3 custom-services-card">
            <div class="card-body">
              <h5 class="card-title">Atenção às Gerações Futuras</h5>
              <p class="card-text">
                A <strong>retirada de entulho ensacado</strong> é essencial para deixar um legado ambiental positivo, garantindo
                um futuro mais limpo e sustentável para as gerações futuras.
              </p>
            </div>
          </div>
        </div>
      </div>
    
    </section>
  </main>
  <footer id="footer" class="bg-light text-center text-lg-start mt-5">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#about" class="text-dark">Sobre</a>
            </li>
            <li>
              <a href="services" class="text-dark">Serviços</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="custom-footer-margin">
      <div class="pt-3 container text-center">
        <h6>
          &copy; <span class="custom-highlight">Developed By Transporte Eco</span> |
          All Rights Reserved
        </h6>
      </div>
    </div>
  </footer>
  <!-- <a href="tel:+5511983347164" style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
    z-index:1000;" target="_blank">
  <i style="margin-top:16px" class="fas fa-phone-alt"></i>
  </a> -->
</body>

</html>

<!-- Inicializar o AOS -->
<script>
  AOS.init();
</script>